<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
body {margin:0;}
 
body{background: url(download1.jpg);
    background-repeat: no-repeat;
    padding-top: 0px;
    }

ul.manohar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   
}

ul.manohar li {float: left;}

ul.manohar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul.manohar li a:hover:not(.active) {background-color: #111;}

ul.manohar li a.active {background-color: #4CAF50;}

ul.manohar li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}

input[type=text], select {
    width: 80%;
    padding: 1px 5px;
    margin: 3px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 1px 5px;
    margin: 3px 0;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div {
    border-radius: 2px;
    padding: 10px;
}
</style>
</head>
<body >


<ul class="manohar">
    <h1>Sriram's Website</h1>
  <li><a  href="hom3">Home</a></li>
  <li><a  href="userinput">UserInput</a></li>
  <li class="active"><a href="contact">Contact</a></li>
  <li><a href="index">Guestbook</a></li>
</ul>
<hr size="10" noshade>
<br><br><br>
<div>
<form id="contact_form" action="get" method="POST" enctype="multipart/form-data">
	<div class="row">
		<label for="name">Your name:</label><br />
		<input id="name" class="input" name="name" type="text" value="" size="30" /><br />
	</div>
	<div class="row">
		<label for="email">Your email:</label><br />
		<input id="email" class="input" name="email" type="text" value="" size="30" /><br />
	</div>
	<div class="row">
		<label for="message">Your message:</label><br />
		<textarea id="message" class="input" name="message" rows="7" cols="30"></textarea><br />
	</div>
	<input id="submit_button" type="submit" value="Send message" />
    
</div>
</form>	
</body>
</html>			