<!DOCTYPE html>
<html> 

<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
body {margin:0;}
 
body{background: url(download1.jpg);
        background-repeat: no-repeat;
    padding-top: 0px;
    }
.m1 {
    
	color: black;
     
}
.m2 {
    color: black;    
	font-size: x-large;
     }


#m3 {    
     	border: 1px solid orangered;
     }

#circular{
  border-radius: 50%;
}
th, td {
    padding: 5px;
    text-align: left;
    border: 1px solid orangered;
}
ul.manohar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   
}

ul.manohar li {float: left;}

ul.manohar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.manohar li a:hover:not(.active) {background-color: #111;}



ul.manohar li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}

</style>

<title>Manohar Sriram @ Northwest Missouri State University</title>
<link type="text/css" rel="stylesheet" href="sriram_manohar.css">


</head>

<body>
<ul class="manohar">
<h1>Sriram's Website</h1>
  <li class="active"><a href="hom3">Home</a></li>
  <li><a  href="userinput">UserInput</a></li>
  <li><a href="contact">Contact</a></li>
  <li><a href="index">Guestbook</a></li>
</ul>
<hr size="10" noshade>
<h1 class="m2">About Me</h1>
<hr>


<h2 class="m2">Background</h2>
<ul class="m1">
<li> Home town: Hyderabad, India </li>
<li >Degree: B.Tech Electronics, Jawahar Lal Nehru Technological University Hyderabad,2014 </li>
<li> Work Experience : Worked as a network engineer for Wipro </li>
<li> Research : Through Wall Microwave Imaging Using Inverse Scattering Technique </li>
</ul>


 <hr>
 
   <table id="m3">
   <tr>
   <td><h3 class="m2"> Interests </h3></td>
   </tr>
 <tr>
 <td class="m1"> Interested in playing Cricket and table tennis </td>
 </tr>
 <tr>
 <td class="m1"> Technical interests are working on CISCO packet tracer </td>
 </tr>
 </table>
  <hr>
 <table>
 <tr>
 <h3 class="m2">Plans</h3>
 <p class="m1"> CISCO Certification and getting placed in top MNC's </p>
 </tr>
 <tr>
<th><h2> Sriram Manohar </h2></th>
<th><img id="circular" src="mano.jpg" alt="sorry" style="width:304px;height:228px;"></th>
 </tr>
 <tr>
<td><h2>NORTHWEST MISSIOURI STATE UNIVERSITY</H2> </td>
<td><video width="320" height="240" controls>
  <source src="videos.mp3" type="video/mp3">
<source src="videos.webm" type="video/webm">
Your browser does not support the video tag.
</video></td>
 </tr>
 </table>
<img src="git.ico" alt="Github logo" />
<a href="https://github.com/srirammanohar99/sample.git">Github</a>
<img src="bit.ico" alt="Bitbucket logo" />
<a href="https://srirammanohar99@bitbucket.org/srirammanohar99/sample.git">Bitbucket</a>
<img src="link.ico" alt="Linkedin logo" />
<a href="https://www.linkedin.com/nhome/?trk=">Linkedin</a>
 </body>
 </html>