<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
body {margin:0;}
body{background: url(download1.jpg);
    background-repeat: no-repeat;
    padding-top: 0px;
    }
ul.manohar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

ul.manohar li {float: left;}

ul.manohar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul.manohar li a:hover:not(.active) {background-color: #111;}

ul.manohar li a.active {background-color: #4CAF50;}

ul.manohar li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}

input[type=text], select {
    width: 80%;
    padding: 1px 5px;
    margin: 3px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 1px 5px;
    margin: 3px 0;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div {
    border-radius: 2px;
    background-color: #f2f2f2;
    padding: 10px;
}
</style>
</head>
<body >


<ul class="manohar">
    <h1>Sriram's Website</h1>
  <li><a href="hom3">Home</a></li>
  <li  class="active"><a  href="userinput">UserInput</a></li>
  <li><a href="contact">Contact</a></li>
  <li><a href="index">Guestbook</a></li>
</ul>
<hr size="10" noshade>
<title>This page is for taking the user input and matching with the random number generated</title>
</head>
<body>
    <br><br><br>    
<h1 id="num">Please enter two numbers in between 1 to 20. if your guess numbers matches our number, then you will get a free trip to Bhimavaram.</h1>

<button onclick="myFunction()">click here</button>
<p id="num"></p>
<script>
function myFunction() {
var number1 = prompt("Please enter your first number", "0 to 20");
var number2 = prompt("Please enter your second number", "0 to 20");
var numb;
numb=number1+number2;

if(numb!=36)
{
document.getElementById("num").innerHTML ="you missed it. Try again. Correct guess is: 36 and your guess is:" +numb;
}
else
  {
     document.getElementById("num").innerHTML = "Congrats, your guess is right. You won a trip to Bhimavaram. ";
 }

}
</script>

</body>
</html>
